{
    "presets": ["@vue/babel-preset-jsx"],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
              "corejs": false,
              "regenerator": true
              // "useESModules": false
            }
          ]
    ]
}